<div class="row justify-content-between align-items-center" style="background-color: whitesmoke; height: 50px; width: 100%; margin: auto">
    <div class="col" >
         <img src="{{ userProfilePic }}"  style="width: 40px;" (click)="gotoProfilePage()"/>
    </div>
    <div class="col text-center">
        <img src="assets/images/appNameLogo.PNG" class="brand_logo" alt="Logo"/>
    </div>
    <div class="text-right col h-100" style="padding: 0%; z-index: 1">
        <div class="h-100">
            <nav class="navbar navbar-dark h-100 " style="background-color: crimson; padding: 0%; width: 80%">
                <button class="navbar-toggler h-100" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-1">
                    <ul class="navbar-nav nav">
                        <li class="nav-item">
                            <button router="register-page" class="btn btn-primary"  routerLinkActive="active"
                            (click)="gotoAddIdeaPage()">Add an Idea</button>
                        </li>
                        <li class="nav-item" >
                            <button router="register-page" class="btn btn-primary"  routerLinkActive="active"
                            (click)="gotoProfilePage()"><i class="fa fa-user"></i> View Profile</button>
                        </li>
                        <li class="nav-item" >
                            <button router="register-page" class="btn btn-primary" routerLinkActive="active"
                            (click)="signOut()">Sign out</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>