.content-area {
	position: relative;
	width: 960px; 
	margin: 0 auto;
}
.carousel-indicators li { 
border-radius: 50%; 
height: 20px;
width: 20px;
}
.carousel-indicators .active {
height: 25px;
width: 25px;


}