<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<form class = "form">
<div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Register Now!</p>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name = "name" [(ngModel)] ="name"placeholder="Your Name *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name = "phone" [(ngModel)] = "phone" placeholder="Phone Number *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name = "bio" [(ngModel)] = "bio" placeholder="Write Something About Yourself *" value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            
                            <div class="form-group">
                                <input type="text" class="form-control" name = "Email" [(ngModel)] = "email" placeholder="Email" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name = "Password" [(ngModel)] = "password" placeholder="Your Password *" value=""/>
                            </div>
                            
                        </div>
                    </div>
                    <button type="button" class="btnSubmit">Submit</button>
                </div>
            </div>
        </div>
    </form>