<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<form class = "form">
<div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Register Now!</p>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name = "title" [(ngModel)] ="title"placeholder="Title For Idea *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name = "description" [(ngModel)] = "description" placeholder="Enter a Description for the Idea *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name = "contact" [(ngModel)] = "contact" placeholder="Enter Your Name" value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                          
                            
                        </div>
                    </div>
                    <button type="button" class="btnSubmit">Submit</button>
                </div>
            </div>
        </div>
    </form>
