<!-- Title, description, timestamp, tags, image/video (optional) -->
<form class = "form">
<div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Submit Idea</p>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <input type="text" class="form-control" placeholder="Title For Idea *" value=""name="title" 
                                [(ngModel)]="title"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter a Description for the Idea *" value="" name="description" 
                                ([ngModel])="description" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Eventual Image/video maybe" value="" name="media" 
                                [(ngModel)]="tags" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Add tags" value="" name="tags" 
                                [(ngModel)]="tags" />
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <button type="button" class="btnSubmit" (click)="onSubmit()">Submit</button>
                    <button type="button" class="btnSubmit" (click)="gotoIdeaPage()">Go back</button>
                </div>
            </div>
        </div>
    </form>
