<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">

                    <!--This is the header image-->
                    <img class="card-img-top" src="https://i.picsum.photos/id/281/200/150.jpg?hmac=4pBu9zohi8lcOrdgxS62a9Xqot-BaD8GM9C_IVYv5vo">

                    <div class="card-block">
                        <figure class="profile"></figure>

                        <!--Idea Title-->
                        <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>

                        <!--Idea Description-->
                        <div class="card-text">
                            Tawshif is a web designer living in Bangladesh.
                        </div>

                    </div>

                    
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                        <h5 class="card-title">Tab Card One</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>              
                      </div>
                      <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
                        <h5 class="card-title">Tab Card Two</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>              
                      </div>
                      <div class="tab-pane fade p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
                        <h5 class="card-title">Tab Card Three</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>              
                      </div>
                    </div>
                </div>
            </div>
	</div>
</div>