<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">

                    <!--This is the header image-->
                    <img class="card-img-top" src="https://i.picsum.photos/id/281/200/150.jpg?hmac=4pBu9zohi8lcOrdgxS62a9Xqot-BaD8GM9C_IVYv5vo">

                    <div class="card-block">
                        <figure class="profile"></figure>

                        <!--Idea Title-->
                        <h4 class="card-title mt-3">{{card.title}}</h4>

                        <!--Idea Description-->
                        <div class="card-text">{{card.description}}</div>

                        <!--Contact Information--> 
                    
                        <div class="card-text">Contact: {{card.contact}}</div>

                    </div>

                        <a href="#" class="btn btn-primary">Back</a>              

                    </div>
                </div>
            </div>
	</div>
