
H1 { 
    text-align: center;
}

H2 { 
    text-align: center;
    padding: 10px;
}

#imgidea {

    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
}

.form-content
{
  width: 370px;
  margin: 0 auto;
  background: #ffffff;
  /* display: flex; */
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  text-align: center;   
    
  
}

.card {
    border: transparent;
}

