/* You can add global styles to this file, and also import other style files */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* background-color:whitesmoke; */

    --def: #dddddd;
    --inv: #fff;
    background-color: #dddddd;
    background-image: linear-gradient(-25deg, crimson 0%, #dddddd 100%);
}

button {
    width: 100%;
    background: #c0392b;
    color: white;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color:whitesmoke !important;
    width: 100% !important;
    color: crimson !important;
    border: 1px solid crimson !important;
}

.btn-primary:hover {
  background-color: crimson !important;
  color: whitesmoke !important;
  border: 1px solid crimson;
}

.crim {
    background-color: crimson;
}