<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" />
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- include summernote css/js-->
<script src="../../../../node_modules/summernote/dist/summernote.js"></script>

    <div id="summernote"><p>Hello Summernote</p></div>
    <script>
      $(document).ready(function() {
          $('#summernote').summernote();
      });
    </script>