<div class="container" id="container">


    <img class="img-circle" id="profile-img"
        src="assets/images/profilePicture.jpg" />



    <button id="upload-photo-button" class="btn login_btn">Upload</button>




    <!--Username-->
    <h4 id="profile-name">{{profile.name}} </h4>

    <br>

    <p>


        <!--User's e-mail-->
        <label>E-mail:</label>
        <input class="form-control input_user" value={{profile.email}} />


        <br />



        <!--User's phone number-->
        <label>Phone:</label>
        <input class="form-control input_user" value={{profile.phone}}>


        <br>

        <!--User's bio section-->
        <label>About Me:</label>
        <br>

        <textarea class="form-control input_user" id="bio-text" value={{profile.bio}}></textarea>



        <div class="row">

            <!--Back button-->
        <button router="register-page" class="btn login_btn" routerLinkActive="active" (click)="gotoIdeaPage()">Go
            back</button>
        <br>

        <!--Save changes button-->
        <button type="button" class="btn login_btn" routerLinkActive="active" (click)="gotoIdeaPage()">Save Changes</button>

        <br>


        

    </div>


        <label>My Ideas:</label>

        <!--user ideas-->
    <p>USER IDEAS WILL GO HERE</p>


    <label>Liked Ideas:</label>

    <!--liked ideas-->
    <p>LIKED IDEAS WILL GO HERE</p>

</div>