<app-navbar></app-navbar>

<form class="form">
    <div class="container register-form">
        <div class="d-flex justify-content-center">
            <div class="form">
                <div class="note">
                    <p>My Profile</p>
                </div>

                <br>

                <div class="row"><img class="img-circle" id="profile-img" src="assets/images/profilePicture.jpg" />
                </div>

                <div class="row"><button id="upload-photo-button" class="btn login_btn">Upload</button></div>

                <h4 id="profile-name">{{name}} </h4>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">

                            <!--Email-->
                            <label>E-mail:</label>
                            <input type="text" class="form-control" value={{email}} style="width: 300px;" />

                        </div>

                        <div class="form-group">

                            <!--Phone-->
                            <label>Phone:</label>
                            <input type="text" class="form-control" value={{phone}} style="width: 300px;" />

                        </div>

                        <div class="form-group">

                            <!--Bio-->
                            <label>About Me:</label>
                            <textarea class="form-control input_user" id="bio-text" value={{bio}}
                                style="width: 300px"></textarea>

                        </div>

                    </div>
                    <div class="col-md-6">
                    </div>
                </div>

                <div class="row">
                    <button type="button" class="btnSubmit" (click)="saveChanges()">Save Changes</button>
                </div>

                <div class="row">
                    <button type="button" class="btnSubmit" (click)="gotoIdeaPage()">Go Back</button>
                </div>

                <div class="row">
                    <label>My Ideas:</label>
                    <a router="register-page" class="ml-2" style="cursor: pointer; color:blue" routerLinkActive="active"
                        (click)="gotoLikedIdeas()">{{createdItem}}</a>
                </div>

                <div class="row">
                    <label>Liked Ideas:</label>
                    <br>
                    <a router="register-page" class="ml-2" style="cursor: pointer; color:blue" text-align="center" routerLinkActive="active"
                        (click)="gotoLikedIdeas()">{{likedItem}}</a>

                </div>


            </div>
        </div>
    </div>
</form>