<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container h-100" style="background-color: cornflowerblue;">
    <div class="d-flex justify-content-center h-75">
        <div class="card">
            <br>
            <img src="https://placeimg.com/600/300/animals" style="width:100%">
                <br>
                <h4><b> Title: <input [(ngModel)]="card.title"> </b></h4> 
                <p> Description: <textarea [(ngModel)]="card.description"></textarea></p> 
                <p> Contact: <input [(ngModel)]="card.contact"></p> 
            <div class="d-flex justify-content-left links">
                <a href="#" class="btn btn-primary">Submit Idea</a>
            </div>
        </div>
    </div>
</div>
